//MySQL

MYSQL_DATABASE="nombre de la base de datos"
MYSQL_USER="nombre de usuario"
MYSQL_PASSWORD=clave de acceso de MySQL
MYSQL_ROOT_PASSWORD=clave de acceso de MySQL

DB_HOST=su direccion de host

//Mode

NODE_ENV=development


JWT_SECRET="El secret utilizado para el protocolo Jwt"
TOKEN_EXPIRE_TIME="Tiempo de expiración del token en minutos"
TOKEN_EXPIRE_TIME_REMEMBER_ME="Tiempo de expiración del token en minutos con la casilla remember me marcada"


//Api key tokens

Éstas claves se generan automaticamente en la base de datos ejecutando el script ... npm run roleKeysCreate ... para crearlas, o ... npm run roleKeysUpdate ... para actualizarlas.

PUBLIC_API_KEY_TOKEN=
ADMIN_API_KEY_TOKEN=

//domains
ACCEPTED_DOMAINS="dominios aceptados para el registro separados por comas. Ejemplo `gmail.com,hotmail.com`"



