<app-header [tittle]="tittle" [image]="image"></app-header>


<div class="profile">
    <div class="profile__image--container">
        <div class="profile__image">
            <img src="{{user.image_url}}" alt="user">
        </div>

    </div>
    <div class="profile__data">
        <p class="profile__name"><b>{{user.name}} </b>{{user.surname}}</p>
        <p class="profile__valoration">Su valoración <b class="rank-number">{{userPosition}}º</b></p>
        <div class="star-container">
            <img *ngIf="user.punctuation_avg>=1" src="{{star}}" alt="star">
            <img *ngIf="user.punctuation_avg>=2" src="{{star}}" alt="star">
            <img *ngIf="user.punctuation_avg>=3" src="{{star}}" alt="star">
            <img *ngIf="user.punctuation_avg>=4" src="{{star}}" alt="star">
            <img *ngIf="user.punctuation_avg>=5" src="{{star}}" alt="star">
        </div>
    </div>
</div>




<app-menu></app-menu>
<app-footer></app-footer>
<app-back-icon></app-back-icon>