<app-header [tittle]="tittle" [image]="image"></app-header>
<div class="main transition" tabindex="0">
    <div class="card-marker">
        <div class="card-marker__full-point"></div>
        <div class="card-marker__empty-point"></div>
    </div>
    <section class="slider">
        <div class="card-container">
            <div class="tittle-container">
                <p class="profile-tittle" for="mail"><b>Las Palmas</b></p>
            </div>


            <div class="card">
                <div class="card-bakground">
                    <img src="">
                </div>
                <p class="card-date">16 de octubre</p>
                <div class="card-temperature">
                    <p class="number">2</p>
                    <p class="unit">ºC</p>
                </div>
                <div class="card-text">
                    <p class="text">Tormenta</p>
                </div>
                <div class="card-forecast">
                    <div class="card-forecast__line">
                        <div class="forecast__line--icon">
                        </div>
                        <div class="forecast__line--text">Jue. | Soleado</div>
                        <div class="forecast__line--temp">22º / 23º</div>
                    </div>
                    <div class="card-forecast__line">
                        <div class="forecast__line--icon">

                        </div>
                        <div class="forecast__line--text">Vie. | Soleado</div>
                        <div class="forecast__line--temp">22º / 23º</div>
                    </div>
                    <div class="card-forecast__line">
                        <div class="forecast__line--icon">

                        </div>
                        <div class="forecast__line--text">Sáb. | Nublado</div>
                        <div class="forecast__line--temp">22º / 23º</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="tittle-container">
                <p class="profile-tittle" for="mail"><b>Madrid</b></p>
            </div>


            <div class="card">
                <div class="card-bakground">
                    <img src="">
                </div>
                <p class="card-date">16 de octubre</p>
                <div class="card-temperature">
                    <p class="number">25</p>
                    <p class="unit">ºC</p>
                </div>
                <div class="card-text">
                    <p class="text">Soleado</p>
                </div>
                <div class="card-forecast">
                    <div class="card-forecast__line">
                        <div class="forecast__line--icon">

                        </div>
                        <div class="forecast__line--text">Jue. | Soleado</div>
                        <div class="forecast__line--temp">22º / 23º</div>
                    </div>
                    <div class="card-forecast__line">
                        <div class="forecast__line--icon">

                        </div>
                        <div class="forecast__line--text">Vie. | Soleado</div>
                        <div class="forecast__line--temp">22º / 23º</div>
                    </div>
                    <div class="card-forecast__line">
                        <div class="forecast__line--icon">

                        </div>
                        <div class="forecast__line--text">Sáb. | Nublado</div>
                        <div class="forecast__line--temp">22º / 23º</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="tittle-container">
                <p class="profile-tittle" for="mail"><b>Barcelona</b></p>
            </div>


            <div class="card">
                <div class="card-bakground">
                    <img src="">
                </div>
                <p class="card-date">16 de octubre</p>
                <div class="card-temperature">
                    <p class="number">2</p>
                    <p class="unit">ºC</p>
                </div>
                <div class="card-text">
                    <p class="text">Tormenta</p>
                </div>
                <div class="card-forecast">
                    <div class="card-forecast__line">
                        <div class="forecast__line--icon">

                        </div>
                        <div class="forecast__line--text">Jue. | Soleado</div>
                        <div class="forecast__line--temp">22º / 23º</div>
                    </div>
                    <div class="card-forecast__line">
                        <div class="forecast__line--icon">

                        </div>
                        <div class="forecast__line--text">Vie. | Soleado</div>
                        <div class="forecast__line--temp">22º / 23º</div>
                    </div>
                    <div class="card-forecast__line">
                        <div class="forecast__line--icon">

                        </div>
                        <div class="forecast__line--text">Sáb. | Soleado</div>
                        <div class="forecast__line--temp">22º / 23º</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<app-menu></app-menu>
<app-footer></app-footer>