.slider {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  white-space: nowrap;
}
.card-container {
  min-width: 100vw;
  min-height: 100vh;
}

.tittle-container {
  margin-top: 36px;
  height: 10%;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100vw;
  overflow: hidden;
}

.profile-tittle {
  font-size: 1rem;
  text-shadow: 2px 2px 5px black;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  overflow-x: auto;
  white-space: nowrap;
}

.card-marker {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 90px;
}

.card-marker__full-point {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin: 0 2px 0 2px;
}
.card-marker__empty-point {
  border: solid 1px white;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  margin: 0 2px 0 2px;
}

.card {
  border: solid 2px white;
  border-radius: 12px;
  max-width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 7px;
  height: 70vh;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 15px black;
  scroll-snap-align: center;
}

.card-bakground {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card-bakground img {
  object-fit: cover;
  max-width: 120%;
  max-height: 120%;
  min-width: 100%;
  min-height: 100%;
  object-position: center;
  position: absolute;
}

.card-date {
  color: white;
  position: absolute;
  left: 3%;
  top: -1.5%;
  font-weight: lighter;
}

.card-temperature {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50px) translateX(10px);
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
}
.number {
  font-size: 5rem;
}
.card-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.text {
  color: white;
  font-size: 1.8rem;
  text-shadow: 2px 2px 5px black;
}
.transition {
  animation-duration: 0.8s;
  animation-name: jackInTheBox;
}

.card-forecast {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30%;
  width: 100%;
  display: flex;
  padding: 5%;
  flex-direction: column;
  box-sizing: border-box;
  color: white;
  font-size: 0.9em;
  justify-content: space-evenly;
}

.card-forecast__line {
  display: flex;
  width: 100%;
  height: 31%;
  align-items: center;
  border-radius: 12px;
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  text-shadow: 1px 1px 2px black;
}

.forecast__line--icon {
  width: 35px;
  margin-right: 3px;
  padding-left: 10px;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forecast__line--icon img {
  width: 35px;
  margin-right: 3px;
}

.forecast__line--text {
  width: 100%;
}

.forecast__line--temp {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  padding-right: 5%;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jackInTheBox {
  0% {
    -webkit-transform: scale(0.1);
    -webkit-transform-origin: center bottom;
    opacity: 0;
    transform-origin: center bottom;
  }

  to {
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
}
