<app-header [tittle]="tittle" [image]="image"></app-header>
<div class="main">
    <section class="slider">
        <div class="card-container" *ngFor="let event of events">
            <div class="card">
                <div class="card-bakground">
                    <img src="" alt="">
                </div>
                <p class="card-date">{{event.date}}</p>
                <p class="car-tittle">{{event.tittle}}</p>
                <div class="card-data-container">
                    <div class="card-data-container__row">
                        <div class="row__div" href="">
                            <img class="row__a--icon" src="{{event.image_url}}" alt="icon">
                            <p>{{event.organizer}}</p>
                            <div class="star-container">
                                <img src="{{miniStar}}" alt="">
                                <img src="{{miniStar}}" alt="">
                                <img src="{{miniStar}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="card-data-container__row">
                        <div class="row__div" href="">
                            <img class="row__a--icon" src="{{profileIcon}}" alt="icon">
                            <p>{{event.zone}}</p>
                            <div class="star-container">
                                <img src="{{miniStar}}" alt="">
                                <img src="{{miniStar}}" alt="">
                                <img src="{{miniStar}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="card-data-container__row">
                        <div class="row__div" href="">
                            <img class="row__a--icon" src="{{profileIcon}}" alt="icon">
                            <p>{{event.place}}</p>
                        </div>
                    </div>
                    <div class="card-data-container__row">
                        <a class="row__a" href="">
                            <img class="row__a--icon" src="{{profileIcon}}" alt="icon">
                            <p>Assistants</p>
                        </a>
                    </div>
                    <div class="card-data-container__row">
                        <a class="row__a" href="">
                            <img class="row__a--icon" src="{{profileIcon}}" alt="icon">
                            <p>Comments</p>
                        </a>
                    </div>
                    <div class="card-data-container__row card-data-container__row-last">
                       
                            <p>Description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus provident nemo</p>
                       
                    </div>
                </div>
                <div class="card-button-container">
                    <p>¿Asistiré?</p>
                    <div class="card-button-subcontainer">
                        <button class="yes-button">Sí</button>
                        <button class="no-button">No</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>

    


<app-menu></app-menu>
<app-footer></app-footer>